
<div class="bg-black-alpha-80">

    <div class="py-6 px-4 mt-6 w-full flex justify-content-center">
        <div class="p-5 flex flex-column gap-3 align-items-start justify-content-between lg:flex-row lg:align-items-center border-round-2xl w-full"
            style="background: linear-gradient(110.43deg, #868CD0 0.04%, #FF5759 100.11%); max-width: 1200px;">
            <div class="flex flex-column gap-2">
                <h1 class="m-0 text-white font-bold text-2xl">NEWSLETTER</h1>
                <p class="m-0 text-white">Sign up for our newsletter and stay up-to-date on the latest features and updates for our platform.</p>
            </div>
            <div class="flex align-items-center gap-2">
                <input pInputText placeholder="Email Address" class="border-white border-round-md">
                <button pButton class="p-button-text text-white border-1 border-white border-round-md h-full" label="JOIN"></button>
            </div>
        </div>
    </div>
    

    <div class="py-4 px-4 mt-2 w-full flex justify-content-center">
        <div class="p-4 flex flex-column gap-3 align-items-start justify-content-between lg:flex-row lg:align-items-center border-round-2xl w-full"
        style="max-width: 1200px;">
        <div class="col-12 lg:col-3">
            <div class="w-full text-white flex flex-column gap-3">
                <h1 class="m-0 font-medium text-sm text-500">CONTACT US</h1>
                <div class="flex gap-5">
                    <a href="#"><i class="pi pi-github text-white text-2xl"></i></a>
                    <a href="#"><i class="pi pi-twitter text-white text-2xl"></i></a>
                    <a href="#"><i class="pi pi-linkedin text-white text-2xl"></i></a>
                </div>
                <p class="m-0 text-base lg:text-sm">
                    EPA Provincial Programs Branch
                    <br>Water and Wastewater Operator<br>
                     Certification 15th Floor,<br>Oxbridge Place 9920 - 106 Street Edmonton AB T5K 2J6
                </p>
                <span class="text-base lg:text-sm">©Copyright 2025</span>
            </div>
        </div>
        <div class="col-12 lg:col-3">
            <div class="w-full text-white flex flex-column gap-3">
                <h1 class="m-0 font-medium text-sm text-500">ABOUT US</h1>
                <a href="#"><span class="text-base lg:text-sm block text-white">Our
                        Values</span></a>
                <a href="#"><span class="text-base lg:text-sm block text-white">Our
                        Team</span></a>
                <a href="#"><span class="text-base lg:text-sm block text-white">Our
                        History</span></a>
                <a href="#"><span class="text-base lg:text-sm block text-white">Career & Join
                        Us</span></a>
            </div>
        </div>
        <div class="col-12 lg:col-3">
            <div class="w-full text-white flex flex-column gap-3">
                <h1 class="m-0 font-medium text-sm text-500">SITE MAP</h1>
                <a href="#"><span
                        class="text-base lg:text-sm block text-white">Dashboard</span></a>
                <a href="#"><span class="text-base lg:text-sm block text-white">CRUD</span></a>
                <a href="#"><span
                        class="text-base lg:text-sm block text-white">Invoice</span></a>
                <a href="#"><span class="text-base lg:text-sm block text-white">Help </span></a>
            </div>
        </div>
        <div class="col-12 lg:col-3">
            <div class="w-full text-white flex flex-column gap-3">
                <h1 class="m-0 font-medium text-sm text-500">CALENDAR</h1>
                <a href="#"><span
                        class="text-base lg:text-sm block text-white">Widgets</span></a>
                <a href="#"><span
                        class="text-base lg:text-sm block text-white">Documentation</span></a>
                <a href="#"><span class="text-base lg:text-sm block text-white">Buy
                        Now</span></a>
            </div>
        </div>
        </div>
    </div>
</div>

