<div class="surface-ground">
    <app-header></app-header>
  
    <div class="grid">
      <div class="col-12 lg:col-12 p-3" style="margin-top:80px;  width: 75%; margin-left: 13%;">
        <div class="card">
        <p-panel [header]="operators[0]?.name" [toggleable]="true" class="line-height-3 m-0">
            <p [innerHTML]="operators[0]?.description"></p>
          </p-panel>
        </div>
  
        <div class="card">
          <p-panel [header]="operators[1]?.name" [toggleable]="true" class="line-height-4 m-0">
            <p [innerHTML]="operators[1]?.description"></p>
          </p-panel>
        </div>
  
        <div class="card">
          <p-panel [header]="operators[2]?.name" [toggleable]="true" class="line-height-4 m-0">
            <p [innerHTML]="operators[2]?.description"></p>
          </p-panel>
        </div>
  
        <div class="card">
          <p-panel [header]="operators[3]?.name" [toggleable]="true" class="line-height-3 m-0">
            <p [innerHTML]="operators[3]?.description"></p>
          </p-panel>
        </div>
  
        <div class="card">
          <p-panel [header]="operators[4]?.name" [toggleable]="true" class="line-height-3 m-0">
            <p [innerHTML]="operators[4]?.description"></p>
          </p-panel>
        </div>
  
        <div class="card">
          <p-panel [header]="operators[5]?.name" [toggleable]="true" class="line-height-3 m-0">
            <p [innerHTML]="operators[5]?.description"></p>
          </p-panel>
        </div>
  
        <div class="card">
          <p-panel [header]="operators[6]?.name" [toggleable]="true" class="line-height-3 m-0">
            <p [innerHTML]="operators[6]?.description"></p>
          </p-panel>
        </div>
  
        <div class="card">
          <p-panel [header]="operators[7]?.name" [toggleable]="true" class="line-height-3 m-0">
            <p [innerHTML]="operators[7]?.description" style="margin-left: -2;"></p>
          </p-panel>
        </div>
      </div>
    </div>
  
    <app-footer></app-footer>
  </div>