<div class="surface-ground">

<app-header></app-header>


	<div style="margin-top: 5%;">
		<div class="col-12">
			<div class="card">
				<p-table #dt1 [value]="customers1" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
					styleClass="p-datatable-gridlines" [paginator]="true"
					[globalFilterFields]="['name','country.name','representative.name','status']">
					<ng-template pTemplate="caption">
						<div class="flex justify-content-between flex-column sm:flex-row">
							<button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
								(click)="clear(dt1)"></button>
							<span class="p-input-icon-left mb-2">
								<i class="pi pi-search"></i>
								<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
									placeholder="Search Keyword" class="w-full" />
							</span>
						</div>
					</ng-template>
					<ng-template pTemplate="header">
						<tr>
							<th style="min-width: 12rem">
								<div class="flex justify-content-between align-items-center">
									Course
									<p-columnFilter type="text" field="name" display="menu"
										placeholder="Search by name"></p-columnFilter>
								</div>
							</th>
							<th style="min-width: 12rem">
								<div class="flex justify-content-between align-items-center">
									CEU
									<p-columnFilter type="text" field="country.name" display="menu"
										placeholder="Search by country"></p-columnFilter>
								</div>
							</th>
							<th style="min-width: 12rem">
								<div class="flex justify-content-between align-items-center">
									Delivery
									<p-columnFilter type="text" field="country.name" display="menu"
										placeholder="Search by country"></p-columnFilter>
								</div>
							</th>
							<th style="min-width: 12rem">
								<div class="flex justify-content-between align-items-center">
									Provider
									<p-columnFilter type="text" field="country.name" display="menu"
										placeholder="Search by country"></p-columnFilter>
								</div>
							</th>
							<th style="min-width: 12rem">
								<div class="flex justify-content-between align-items-center">
									Topic
									<p-columnFilter type="text" field="country.name" display="menu"
										placeholder="Search by country"></p-columnFilter>
								</div>
							</th>
							<th style="min-width: 10rem">
								<div class="flex justify-content-between align-items-center">
									Renewal
									<p-columnFilter type="date" field="date" display="menu"
										placeholder="mm/dd/yyyy"></p-columnFilter>
								</div>
							</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-customer>
						<tr style="height: 60px">
							<td>
								{{customer.name}}
							</td>
							<td>
								<span class="image-text ml-2">{{customer.country.name}}</span>
							</td>
							<td>

								<span class="image-text ml-2">{{customer.representative.name}}</span>
							</td>
							<td>
								<span class="image-text ml-2">{{customer.company}}</span>
							</td>
							<td>
								<span class="image-text ml-2">{{customer.representative.topic}}</span>
							</td>
							<td>
								{{customer.date | date: 'MM/dd/yyyy'}}
							</td>
						</tr>
					</ng-template>
					<ng-template pTemplate="emptymessage">
						<tr>
							<td colspan="8">No customers found.</td>
						</tr>
					</ng-template>
					<ng-template pTemplate="loadingbody">
						<tr>
							<td colspan="8">Loading customers data. Please wait.</td>
						</tr>
					</ng-template>
				</p-table>
			</div>

		</div>


		<!-- </div>
    </div> -->

		<app-footer></app-footer>


	</div>